In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('wholesale-trade-survey-september-2022-quarter-csv.zip')

In [ ]:
data.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,WTSQ.SFA1CA,1995.03,2368.69,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Basic material wholesaling,Sales (operating income),Current prices,Unadjusted,NaN
1,WTSQ.SFA1CA,1995.06,2100.44,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Basic material wholesaling,Sales (operating income),Current prices,Unadjusted,NaN
2,WTSQ.SFA1CA,1995.09,2070.21,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Basic material wholesaling,Sales (operating income),Current prices,Unadjusted,NaN
3,WTSQ.SFA1CA,1995.12,2284.77,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Basic material wholesaling,Sales (operating income),Current prices,Unadjusted,NaN
4,WTSQ.SFA1CA,1996.03,2134.76,NaN,F,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Basic material wholesaling,Sales (operating income),Current prices,Unadjusted,NaN

In [ ]:
data.tail()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
5091,WTSQ.SFZ9CT,2021.09,NaN,NaN,C,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Total wholesaling,Total stocks,Current prices,Trend,NaN
5092,WTSQ.SFZ9CT,2021.12,NaN,NaN,C,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Total wholesaling,Total stocks,Current prices,Trend,NaN
5093,WTSQ.SFZ9CT,2022.03,NaN,NaN,C,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Total wholesaling,Total stocks,Current prices,Trend,NaN
5094,WTSQ.SFZ9CT,2022.06,NaN,NaN,C,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Total wholesaling,Total stocks,Current prices,Trend,NaN
5095,WTSQ.SFZ9CT,2022.09,NaN,NaN,C,Dollars,6,Wholesale Trade Survey - WTS,Industry by variable - (ANZSIC06) - Subannual ...,Total wholesaling,Total stocks,Current prices,Trend,NaN